gurobi.log
/__pycache__
*.pyc
*.csv
*.pkl
vehicle_statistics.txt
/data
/results
plot_data.py
iterate_dataset_5000.py
iterate_dataset_6000.py
iterate_dataset_7000.py
iterate_dataset_8000.py
iterate_dataset_9000.py